<div class="bg-ck-800 p-4 rounded-xl my-8 shadow-xl ">
    <div class="grid grid-cols-[1fr_50px] rounded-lg overflow-hidden">
        <input type="text" name="inputTodo" placeholder="New Todo" class="px-4 py-2 border-none !outline-none"
            [(ngModel)]="inputTodo" (keyup.enter)="addTodo()">
        <button class="bg-green-400" (click)="addTodo()">
            <i class="fa-solid fa-plus text-white"></i></button>
    </div>
</div>
<div class="bg-ck-800  p-4 rounded-xl my-8 shadow-xl space-y-3 text-white font-semibold" *ngIf="todos.length!=0">
    <div class="grid grid-cols-[15px_1fr_auto_auto] gap-2 justify-center items-center p-3 rounded-lg hover:bg-ck-900   {{todo.isCompleted ? '!bg-green-500':''}}"
        *ngFor="let todo of todos; let i = index;">
        <div class="">{{i+1}}<span>)</span></div>
        <div class="">{{todo.content}}</div>
        <button (click)="isDone(i)"><i
                class="fa-solid fa-check ml-2 {{todo.isCompleted ? 'text-white hover:text-gray-200':'text-green-500 hover:text-green-700'}}"></i></button>
        <button class="delete" (click)="deleteTodo(i)"><i
                class="fa-solid fa-trash text-red-500 hover:text-red-700 ml-2 "></i></button>
    </div>
</div>
<div class="bg-ck-800 p-4 rounded-xl my-8 shadow-xl space-y-3 text-white font-semibold flex items-end justify-between "
    *ngIf="todos.length!=0">
    <div *ngIf="todos.length === 1; else elseBlock"> {{todos.length}} Item</div>
    <ng-template #elseBlock>
        <div> {{todos.length}} Items </div>
    </ng-template>
    <button (click)="deleteAll()" class="!m-0 hover:text-gray-300">Delete All</button>
</div>